In [35]:
import numpy as np
import pandas as pd
from apyori import apriori

In [36]:
data = pd.read_csv(r'/kaggle/input/market-basket-optimisationcsv/Market_Basket_Optimisation.csv',header=None)
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
# cleaning the data
data.fillna(0,inplace=True) # we are replacing empty value with 0 and inplace =True means in original dataset we are changing

In [12]:
data.head()

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0
1,chutney,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0
2,turkey,avocado,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0
3,mineral water,milk,energy bar,whole wheat rice,green tea,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0
4,low fat yogurt,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0

In [38]:
#pre processing the data:- Data Preprocessing is a technique that is used to convert the raw data into a clean data set.
txn = []

for i in range(0,len(data)):
    txn.append([str(data.values[i,j]) for j in range(0,20) if str(data.values[i,j])!='0'])

In [39]:
## verifying - by printing the 0th transaction
txn[0]

['shrimp',
 'almonds',
 'avocado',
 'vegetables mix',
 'green grapes',
 'whole weat flour',
 'yams',
 'cottage cheese',
 'energy drink',
 'tomato juice',
 'low fat yogurt',
 'green tea',
 'honey',
 'salad',
 'mineral water',
 'salmon',
 'antioxydant juice',
 'frozen smoothie',
 'spinach',
 'olive oil']

In [40]:
data.shape

(7501, 20)

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7501 entries, 0 to 7500
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       7501 non-null   object
 1   1       7501 non-null   object
 2   2       7501 non-null   object
 3   3       7501 non-null   object
 4   4       7501 non-null   object
 5   5       7501 non-null   object
 6   6       7501 non-null   object
 7   7       7501 non-null   object
 8   8       7501 non-null   object
 9   9       7501 non-null   object
 10  10      7501 non-null   object
 11  11      7501 non-null   object
 12  12      7501 non-null   object
 13  13      7501 non-null   object
 14  14      7501 non-null   object
 15  15      7501 non-null   object
 16  16      7501 non-null   object
 17  17      7501 non-null   object
 18  18      7501 non-null   object
 19  19      7501 non-null   object
dtypes: object(20)
memory usage: 1.1+ MB

In [42]:
data.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
count,7501,7501,7501,7501,7501,7501,7501,7501,7501,7501,7501,7501,7501,7501,7501,7501,7501,7501,7501,7501
unique,115,118,116,115,111,107,103,99,89,81,67,51,44,29,20,9,4,4,4,2
top,mineral water,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
freq,577,1754,3112,4156,4972,5637,6132,6520,6847,7106,7245,7347,7414,7454,7476,7493,7497,7497,7498,7500

Support = \sigma(X+Y) \div total –
It is interpreted as fraction of transactions that contain both X and Y.
Confidence(c) –
It is the ratio of the no of transactions that includes all items in {B} as well as the no of transactions that includes all items in {A} to the no of transactions that includes all items in {A}.
Conf(X=>Y) = Supp(X\cupY) \div Supp(X) –
It measures how often each item in Y appears in transactions that contains items in X also.
Lift(l) –
The lift of the rule X=>Y is the confidence of the rule divided by the expected confidence, assuming that the itemsets X and Y are independent of each other.The expected confidence is the confidence divided by the frequency of {Y}.
Lift(X=>Y) = Conf(X=>Y) \div Supp(Y) –
Lift value near 1 indicates X and Y almost often appear together as expected, greater than 1 means they appear together more than expected and less than 1 means they appear less than expected.Greater lift values indicate stronger association.

In [45]:
rules = apriori(txn, min_support=0.003, min_confidance=0.2, min_lift=3, min_length=2)

In [47]:
rules

In [48]:
# all rules need to be converted in a list..
Results = list(rules)

In [49]:
data_result = pd.DataFrame(Results)

In [51]:
data_result.head()

,items,support,ordered_statistics
0,"(brownies, cottage cheese)",0.003466,"[((brownies), (cottage cheese), 0.102766798418..."
1,"(light cream, chicken)",0.004533,"[((chicken), (light cream), 0.0755555555555555..."
2,"(mushroom cream sauce, escalope)",0.005733,"[((escalope), (mushroom cream sauce), 0.072268..."
3,"(escalope, pasta)",0.005866,"[((escalope), (pasta), 0.07394957983193277, 4...."
4,"(fresh bread, tomato juice)",0.004266,"[((fresh bread), (tomato juice), 0.09907120743..."

In [50]:
support = data_result.support

In [54]:

#all four empty list which will contain lhs, rhs, confidance and lift respectively.
first_values = []
second_values = []
third_values = []
fourth_value = []

# loop number of rows time and append 1 by 1 value in a separate list.. 
# first and second element was frozenset which need to be converted in list..
for i in range(data_result.shape[0]):
    single_list = data_result['ordered_statistics'][i][0]
    first_values.append(list(single_list[0]))
    second_values.append(list(single_list[1]))
    third_values.append(single_list[2])
    fourth_value.append(single_list[3])

In [55]:
lhs = pd.DataFrame(first_values)
rhs = pd.DataFrame(second_values)

confidance=pd.DataFrame(third_values,columns=['Confidance'])

lift=pd.DataFrame(fourth_value,columns=['lift'])

In [56]:
# concat all list together in a single dataframe
df_final = pd.concat([lhs,rhs,support,confidance,lift], axis=1)
df_final

,0,1,0,1,2,support,Confidance,lift
0,brownies,None,cottage cheese,None,None,0.003466,0.102767,3.225330
1,chicken,None,light cream,None,None,0.004533,0.075556,4.843951
2,escalope,None,mushroom cream sauce,None,None,0.005733,0.072269,3.790833
3,escalope,None,pasta,None,None,0.005866,0.073950,4.700812
4,fresh bread,None,tomato juice,None,None,0.004266,0.099071,3.259356
...,...,...,...,...,...,...,...,...
89,pancakes,ground beef,mineral water,spaghetti,None,0.003066,0.211009,3.532991
90,ground beef,None,spaghetti,mineral water,tomatoes,0.003066,0.031208,3.344117
91,olive oil,None,mineral water,spaghetti,milk,0.003333,0.050607,3.216994
92,mineral water,milk,shrimp,spaghetti,None,0.003066,0.063889,3.014029
93,tomatoes,None,mineral water,spaghetti,milk,0.003333,0.048733,3.097846

In [58]:
'''
we have some of place only 1 item in lhs and some place 3 or more so we need to a proper represenation for User to understand. 
 replacing none with ' ' and combining three column's in 1 
 example : coffee,none,none is converted to coffee, ,
'''
df_final.fillna(value=' ', inplace=True)
df_final.head()

             0  1                     0  1  2   support  Confidance      lift
0     brownies           cottage cheese        0.003466    0.102767  3.225330
1      chicken              light cream        0.004533    0.075556  4.843951
2     escalope     mushroom cream sauce        0.005733    0.072269  3.790833
3     escalope                    pasta        0.005866    0.073950  4.700812
4  fresh bread             tomato juice        0.004266    0.099071  3.259356

In [59]:
#set column name
df_final.columns = ['lhs',1,'rhs',2,3,'support','confidance','lift']
df_final.head()

           lhs  1                   rhs  2  3   support  confidance      lift
0     brownies           cottage cheese        0.003466    0.102767  3.225330
1      chicken              light cream        0.004533    0.075556  4.843951
2     escalope     mushroom cream sauce        0.005733    0.072269  3.790833
3     escalope                    pasta        0.005866    0.073950  4.700812
4  fresh bread             tomato juice        0.004266    0.099071  3.259356

In [60]:
#drop columns 1,2 and 3 because now we already appended to lhs column.

df_final.drop(columns=[1,2,3],inplace=True)

In [61]:
df_final.head()

           lhs                   rhs   support  confidance      lift
0     brownies        cottage cheese  0.003466    0.102767  3.225330
1      chicken           light cream  0.004533    0.075556  4.843951
2     escalope  mushroom cream sauce  0.005733    0.072269  3.790833
3     escalope                 pasta  0.005866    0.073950  4.700812
4  fresh bread          tomato juice  0.004266    0.099071  3.259356